.header {
  &__main {
    padding: 30px 0;
    padding-top: 32px;
    background-color: var(--light-color);
  }

  &__container {
    row-gap: 28px;
  }

  &__logo {
    grid-column: 3 span;
  }

  &__nav {
    grid-column: 9 span;
    padding-top: 4px;
    padding-right: 4px;
  }

  &__search {
    grid-column: 10 span;
  }

  &__btns {
    @include flex-v-center;

    grid-column: 2 span;
    justify-content: flex-end;
    padding-top: 3px;
  }
}

.header-btn {
  &:not(:last-child) {
    margin-right: 43px;
  }
}

.login-btn {
  color: var(--accent-color);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &__icon {
    & svg {
      fill: currentColor;
    }
  }

  &:focus-visible:not(:hover):not(:active) {
    background-color: var(--light-accent-color);
    color: var(--light-color);
    outline: none;
  }

  @include mobile-hover {
    &:hover {
      color: var(--light-accent-color);
      outline: none;
    }
  }

  &:active {
    color: var(--dark-accent-color);
  }
}

.cart-link {
  @include flex-v-center;

  position: relative;
  color: var(--accent-color);
  transition: color 0.3s ease-in-out;

  &::after {
    content: '';
    position: absolute;
    top: -2px;
    right: -5px;
    bottom: -1px;
    left: -14px;
    background-color: var(--light-accent-color);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &__counter {
    position: absolute;
    top: 12px;
    left: -11px;
    border-radius: 50%;
    display: inline-block;
    width: 14px;
    height: 15px;
    padding-top: 3px;
    background-color: var(--secondary-accent-color);
    font-weight: 700;
    font-size: 10px;
    line-height: 100%;
    text-align: center;
    color: var(--light-color);
    z-index: 2;
    transform: translateY(-50%);
  }

  &__icon {
    position: relative;
    z-index: 2;

    & svg {
      fill: currentColor;
    }
  }

  &:focus-visible:not(:hover):not(:active) {
    outline: none;
    color: var(--light-color);

    &::after {
      opacity: 1;
    }
  }

  @include mobile-hover {
    &:hover {
      color: var(--light-accent-color);
    }
  }

  &:active {
    color: var(--dark-accent-color);
  }
}

.header-top {
  padding: 15px 0;
  padding-bottom: 14px;
  background-color: var(--alabaster-color);

  &__inner {
    @include flex-v-center;

    grid-column: 5 span;
  }

  &__location-dropdown {
    margin-right: 34px;
  }

  &__nav {
    grid-column: 7 span;
    padding-left: 23px;
  }
}

.location-dropdown {
  &__descr {
    margin-right: 4px;
    font-size: 16px;
    line-height: 120%;
    color: var(--text-color);
  }

  &__btn {
    @include flex-v-center;

    gap: 4px;
    font-size: 16px;
    line-height: 120%;
    color: var(--accent-color);
    transition: color 0.3s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      inset: -3px;
      bottom: 0;
      background-color: #ebd1ff;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &:focus-visible:not(:hover):not(:active) {
      outline: none;
      color: var(--dark-accent-color);

      &::after {
        opacity: 1;
      }
    }

    @include mobile-hover {
      &:hover {
        outline: none;
        color: var(--light-accent-color);
      }
    }

    &:active {
      color: var(--dark-accent-color);
    }

    &.active .location-dropdown__icon {
      transform: rotate(-180deg) translateY(-3px);
    }
  }

  &__text {
    z-index: 5;
  }

  &__icon {
    z-index: 5;
    transition: transform 0.3s ease-in-out;
  }
}

.secondary-nav {
  &__list {
    @include flex-all-sb;
  }

  &__link {
    position: relative;
    font-size: 14px;
    line-height: 100%;
    color: var(--light-text-color);
    transition: color 0.3s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      top: 1px;
      right: -10px;
      bottom: 1px;
      left: -10px;
      background-color: #ebd1ff;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &:focus-visible:not(:hover):not(:active) {
      outline: none;
      color: var(--dark-accent-color);

      &::after {
        opacity: 1;
      }
    }

    @include mobile-hover {
      &:hover {
        outline: none;
        color: var(--accent-color);
      }
    }

    &:active {
      color: var(--dark-accent-color);
    }
  }

  &__link-text {
    position: relative;
    z-index: 5;
  }
}

.nav {
  &__list {
    @include flex-all-sb;
  }

  &__link {
    position: relative;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-color);
    transition: color 0.3s ease-in-out;


    &::after {
      content: '';
      position: absolute;
      top: 1px;
      right: -10px;
      bottom: 1px;
      left: -10px;
      background-color: #ebd1ff;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &:focus-visible:not(:hover):not(:active) {
      outline: none;

      &::after {
        opacity: 1;
      }
    }

    @include mobile-hover {
      &:hover {
        outline: none;
        color: var(--accent-color);
      }
    }

    &:active {
      color: var(--dark-accent-color);
    }

    &-text {
      position: relative;
      z-index: 5;
    }
  }
}

.search-form {
  @include flex-v-center;

  &__wrapp {
    position: relative;
    width: 100%;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 32px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
  }

  &__input {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid var(--alabaster-color);
    width: 100%;
    padding: 18px 0;
    padding-left: 55px;
    padding-right: 32px;
    background-color: var(--alabaster-color);
    font-size: 16px;
    line-height: 120%;
    color: var(--text-color);
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &::placeholder {
      color: var(--light-text-color);
    }

    &:focus-visible {
      border-color: var(--accent-color);
      background-color: var(--pink-light);
      outline: none;
    }

    @include mobile-hover {
      &:hover {
        background-color: #eaeaea;
      }
    }

    &:active {
      outline: none;
    }

  }

  &__btn {
    position: absolute;
    top: 50%;
    right: 32px;
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    transform: translateY(-50%);
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &-icon {
      color: var(--accent-color);
      transition: color 0.3s ease-in-out;

      svg {
        stroke: currentColor;
      }
    }

    &:focus-visible {
      background-color: var(--light-accent-color);
      outline: none;

      & .search-form__btn-icon {
        color: var(--light-color);
      }
    }

    @include mobile-hover {
      &:hover {
        background-color: var(--accent-color);

        & .search-form__btn-icon {
          color: var(--light-color);
        }
      }
    }

    &:active {
      border-color: var(--dark-accent-color);
      background-color: var(--dark-accent-color);

      & .search-form__btn-icon {
        color: var(--light-color);
      }
    }
  }


  &__dropdown-btn {
    @include flex-all-sb;

    width: 300px;
    border: 2px solid var(--alabaster-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 18px 30px;
    background-color: var(--light-color);
    font-size: 16px;
    line-height: 22px;
    color: var(--accent-color);
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &:focus-visible {
      border-color: var(--accent-color);
      background-color: var(--pink-light);
      outline: none;
    }

    @include mobile-hover {
      &:hover {
        border-color: var(--accent-color);
        background-color: var(--light-color);
      }
    }

    &:active {
      border-color: var(--dark-accent-color);
      background-color: var(--light-color);
    }
  }
}


