.hero__swiper {
  width: 100%;
}

.hero-slide {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--alabaster-color);

  &__content {
    grid-column: 5 span;
    padding-top: 82px;
    padding-bottom: 80px;
    padding-left: 15px;
  }

  &__title {
    margin: 0;
    margin-bottom: 49px;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: var(--light-text-color);
  }

  &__btn {
    padding: 22px 50px;
  }

  &--contrast {
    background-color: var(--light-text-color);

    & .hero-slide__content {
      grid-column: 6 span;
    }

    & .hero-slide__title {
      color: var(--light-color);
    }
  }

  &--1 {
    background-image: url(../img/hero-slide-1.jpg);
  }

  &--2 {
    background-image: url(../img/hero-slide-2.jpg);
  }

  &--3 {
    background-image: url(../img/hero-slide-3.jpg);
  }
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;

  &-active {
  background: var(--text-color);
  }

  &s.swiper-pagination-horizontal {
    bottom: 19px;
  }
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 8px;
}


