.oxford {
  padding: 150px 0;
  padding-top: 158px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/collection-bg.jpg);

  &__content {
    grid-column: 5 span;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    margin: 0;
    margin-bottom: 4px;
    font-family: "PlayfairDisplay";
    font-weight: 900;
    font-size: 60px;
    line-height: 64px;
    color: var(--straw-color);

    &--mini {
      margin-bottom: 0;
      font-size: 24px;
      line-height: 140%;
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: 48px;
    font-family: "OpenSans";
    font-size: 48px;
    line-height: 58px;
    color: var(--light-color);

    &--mini {
      max-width: 99%;
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 124%;
      color: var(--light-text-color);
    }
  }

  &__link {
    padding: 20px 30px;

    &--mini {
      padding: 0;
    }
  }

  &-mini {
    width: 100%;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;

    &__image-wrapper {
      font-size: 0;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 30px;
      padding-bottom: 29px;
      background-color: var(--text-color);
    }
  }
}
