.info {
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 37px;

    @include mobile {
      padding-top: 24px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 5px;

    @include mobile {
      margin-bottom: 7px;
      font-size: 16px;
    }
  }

  &__description {
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 100%;
    color: var(--light-text-color);

    @include mobile {
      max-width: 244px;
      margin-bottom: 16px;
    }
  }

  &__price {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 400;
    line-height: 130%;

    @include mobile {
      margin-bottom: 16px;
      font-size: 24px;
    }
  }

  &__btn {
    padding: 17px 29px;
    margin-bottom: 5px;

    @include mobile {
      width: 100%;
    }
  }

  &__cart-btn {
    padding: 10px 30px;
    font-weight: 400;
  }

  &__rating {
    top: 15px;
    left: 0;

    @include mobile {
      top: 0;
      font-size: 16px;

      & .product-rating__icon {
        width: 15px;
        height: 15px;
      }
    }
  }
}

.add-cart {
  position: relative;

  @include mobile {
    width: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 1px;
    background-color: var(--pink-violet-color);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &:focus-visible:not(:hover):not(:active) {
    outline: none;

    &::after {
      opacity: 1;
    }
  }

  @include mobile-hover {
    &:hover {
      outline: none;
      color: var(--accent-color);
    }
  }

  &:active {
    color: var(--dark-accent-color);
  }

  &__text {
    position: relative;
    z-index: 5;
  }
}
