.product-modal {
  &.graph-modal__container {
    width: 100%;
    max-width: var(--content-width);
    padding: 0;
    text-align: center;
    overflow: hidden;

    @include tablet {
      max-width: calc(100% - (2 * var(--container-offset-tablet)));
    }

    @include small-tablet {
      max-width: calc(100% - (2 * var(--container-offset-small-tablet)));
    }

    @include mobile {
      max-width: 93%;
    }
  }

  & .product-modal-button {
    height: 100%;
  }

  & .modal-large-image {
    padding: 50px 0;

    @include tablet {
      padding: 50px 30px;
    }

    @include small-tablet {
      margin: 0;
      padding: 48px 20px;
    }

    @include mobile {
      padding: 32px 16px;
    }

    & .swiper-wrapper {
      height: 420px;

      @include mobile {
        max-height: 168px;
      }
    }
  }

  & .small-slider-wrapper {
    position: relative;
    padding: 20px 50px;
    background-color: var(--light-grey-color);
    max-height: 166px;

    @include tablet {
      padding: 20px 65px;
    }

    @include small-tablet {
      padding: 20px 78px;
    }

    @include mobile {
      // height: 118px;/
      padding: 16px 62px;
    }

    & .swiper-navigation {
      display: none;

      @include tablet {
        left: 16px;
        right: 16px;
        display: flex;
      }
    }
  }

  & .modal-thumb-image {
    @include mobile {
      height: 100%;
    }

    & .thumb-image__button {
      height: 100%;
    }
  }

  & .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: auto;
  }
}

.product-image-mobile-resize {
  @include mobile {
    width: 100%;
    height: 100%;
  }
}
