.product {
  margin-bottom: 60px;

  &__info {
    margin-bottom: 32px;
  }

  &__image-wrapper {
    grid-column: 6 span;

    & .swiper-slide {
      @include flex-all-center;
      width: fit-content;
    }
  }

  & .large-image {
    max-height: 245px;
    margin-bottom: 16px;

    &__button {
      cursor: zoom-in;
    }
  }

  & .thumb-image {
    max-height: 81px;
    padding: 10px 25px;
  }

  &__content-wrapper {
    grid-column: 4 span;
  }

  &__additional {
    grid-column: 6 span;
  }

  &__specification {
    grid-column: 6 span;
  }
}
