.rating {
  padding-bottom: 69px;

  &__title {
    margin-bottom: 28px;
  }

  &__product {
    grid-column: 3 span;
  }

  &__more-btn {
    grid-column: 12 span;
    margin: 0 auto;
    padding: 20px 34px;
  }
}
