<div class="catalog-swiper swiper">
  <ul class="swiper-wrapper list-reset">
    <li class="swiper-slide product-card">
      <div class="product-card__image">
        <img src="../img/rating-1.png" alt="Диван кожанный R-94" width="266" height="82">
      </div>
      <div class="product-card__descr">
        <h3 class="product-card__title product-card-subtitle">Диван кожаный <no-typography>“R&#8209;94”</no-typography></h3>
        <span class="product-card__price">94 990 руб</span>
        <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
      </div>
      <div class="product-card__rating product-rating">
        <svg class="product-rating__icon">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <span class="product-rating__value">5,0</span>
      </div>
    </li>
    <li class="swiper-slide product-card">
      <div class="product-card__image">
        <img src="../img/rating-2.png" alt="Диван апартековый T-75" width="261" height="101">
      </div>
      <div class="product-card__descr">
        <h3 class="product-card__title product-card-subtitle">Диван апартековый <no-typography>“T&#8209;75”</no-typography></h3>
        <span class="product-card__price">69 990 руб</span>
        <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
      </div>
      <div class="product-card__rating product-rating">
        <svg class="product-rating__icon">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <span class="product-rating__value">4,9</span>
      </div>
    </li>
    <li class="swiper-slide product-card">
      <div class="product-card__image">
        <img src="../img/rating-3.png" alt="Диван тканевый D-31" width="262" height="103">
      </div>
      <div class="product-card__descr">
        <h3 class="product-card__title product-card-subtitle">Диван тканевый <no-typography>“D&#8209;31”</no-typography></h3>
        <span class="product-card__price">28 490 руб</span>
        <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
      </div>
      <div class="product-card__rating product-rating">
        <svg class="product-rating__icon">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <span class="product-rating__value">4,8</span>
      </div>
    </li>
    <li class="swiper-slide product-card">
      <div class="product-card__image">
        <img src="../img/rating-4.png" alt="Диван велюровый Y-68" width="257" height="125">
      </div>
      <div class="product-card__descr">
        <h3 class="product-card__title product-card-subtitle">Диван велюровый <no-typography>“Y&#8209;68”</no-typography></h3>
        <span class="product-card__price">22 990 руб</span>
        <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
      </div>
      <div class="product-card__rating product-rating">
        <svg class="product-rating__icon">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <span class="product-rating__value">4,8</span>
      </div>
    </li>
    <li class="swiper-slide product-card">
      <div class="product-card__image">
        <img src="../img/rating-5.png" alt="Диван из шинила W-95" width="265" height="117">
      </div>
      <div class="product-card__descr">
        <h3 class="product-card__title product-card-subtitle">Диван из шинила <no-typography>“W&#8209;95”</no-typography></h3>
        <span class="product-card__price">22 990 руб</span>
        <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
      </div>
      <div class="product-card__rating product-rating">
        <svg class="product-rating__icon">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <span class="product-rating__value">4,8</span>
      </div>
    </li>
    <li class="swiper-slide product-card">
      <div class="product-card__image">
        <img src="../img/rating-6.png" alt="Диван флоковый G-41" width="271" height="117">
      </div>
      <div class="product-card__descr">
        <h3 class="product-card__title product-card-subtitle">Диван флоковый <no-typography>“G&#8209;41”</no-typography></h3>
        <span class="product-card__price">17 990 руб</span>
        <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
      </div>
      <div class="product-card__rating product-rating">
        <svg class="product-rating__icon">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <span class="product-rating__value">4,8</span>
      </div>
    </li>
    <li class="swiper-slide product-card">
      <div class="product-card__image">
        <img src="../img/rating-7.png" alt="Диван шиниловый V-43" width="266" height="130">
      </div>
      <div class="product-card__descr">
        <h3 class="product-card__title product-card-subtitle">Диван шиниловый <no-typography>“V&#8209;43”</no-typography></h3>
        <span class="product-card__price">19 990 руб</span>
        <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
      </div>
      <div class="product-card__rating product-rating">
        <svg class="product-rating__icon">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <span class="product-rating__value">4,8</span>
      </div>
    </li>
    <li class="swiper-slide product-card">
      <div class="product-card__image">
        <img src="../img/rating-8.png" alt="Диван велюровый S-99" width="212" height="124">
      </div>
      <div class="product-card__descr">
        <h3 class="product-card__title product-card-subtitle">Диван велюровый <no-typography>“S&#8209;99”</no-typography></h3>
        <span class="product-card__price">19 990 руб</span>
        <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
      </div>
      <div class="product-card__rating product-rating">
        <svg class="product-rating__icon">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <span class="product-rating__value">4,7</span>
      </div>
    </li>
    <li class="swiper-slide product-card">
      <div class="product-card__image">
        <img src="../img/rating-9.png" alt="Диван из кожзама “F-85”" width="262" height="125">
      </div>
      <div class="product-card__descr">
        <h3 class="product-card__title product-card-subtitle">Диван из кожзама <no-typography>“F&#8209;85”</no-typography></h3>
        <span class="product-card__price">26 990 руб</span>
        <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
      </div>
      <div class="product-card__rating product-rating">
        <svg class="product-rating__icon">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <span class="product-rating__value">4,7</span>
      </div>
    </li>
    <li class="swiper-slide product-card">
      <div class="product-card__image">
        <img src="../img/rating-10.png" alt="Диван флоковый “H-64”" width="251" height="130">
      </div>
      <div class="product-card__descr">
        <h3 class="product-card__title product-card-subtitle">Диван флоковый <no-typography>“H&#8209;64”</no-typography></h3>
        <span class="product-card__price">25 990 руб</span>
        <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
      </div>
      <div class="product-card__rating product-rating">
        <svg class="product-rating__icon">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <span class="product-rating__value">4,6</span>
      </div>
    </li>
    <li class="swiper-slide product-card">
      <div class="product-card__image">
        <img src="../img/rating-11.png" alt="Диван флоковый “H-58”" width="233" height="133">
      </div>
      <div class="product-card__descr">
        <h3 class="product-card__title product-card-subtitle">Диван флоковый <no-typography>“H&#8209;58”</no-typography></h3>
        <span class="product-card__price">23 990 руб</span>
        <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
      </div>
      <div class="product-card__rating product-rating">
        <svg class="product-rating__icon">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <span class="product-rating__value">4,6</span>
      </div>
    </li>
    <li class="swiper-slide product-card">
      <div class="product-card__image">
        <img src="../img/rating-12.png" alt="Диван из кожзама “R-43”" width="271" height="105">
      </div>
      <div class="product-card__descr">
        <h3 class="product-card__title product-card-subtitle">Диван из кожзама “R-43” <no-typography>“R&#8209;43”</no-typography></h3>
        <span class="product-card__price">33 990 руб</span>
        <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
      </div>
      <div class="product-card__rating product-rating">
        <svg class="product-rating__icon">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <span class="product-rating__value">4,6</span>
      </div>
    </li>
    <li class="swiper-slide product-card">
      <div class="product-card__image">
        <img src="../img/rating-13.png" alt="Диван из шинила “С-42”" width="229" height="127">
      </div>
      <div class="product-card__descr">
        <h3 class="product-card__title product-card-subtitle">Диван из шинила <no-typography>“C&#8209;42”</no-typography></h3>
        <span class="product-card__price">18 990 руб</span>
        <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
      </div>
      <div class="product-card__rating product-rating">
        <svg class="product-rating__icon">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <span class="product-rating__value">4,6</span>
      </div>
    </li>
    <li class="swiper-slide product-card">
      <div class="product-card__image">
        <img src="../img/rating-14.png" alt="Диван велюровый “U-58”" width="269" height="92">
      </div>
      <div class="product-card__descr">
        <h3 class="product-card__title product-card-subtitle">Диван велюровый <no-typography>“U&#8209;58”</no-typography></h3>
        <span class="product-card__price">21 990 руб</span>
        <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
      </div>
      <div class="product-card__rating product-rating">
        <svg class="product-rating__icon">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <span class="product-rating__value">4,6</span>
      </div>
    </li>
    <li class="swiper-slide product-card">
      <div class="product-card__image">
        <img src="../img/rating-15.png" alt="Диван флоковый “F-41”" width="263" height="106">
      </div>
      <div class="product-card__descr">
        <h3 class="product-card__title product-card-subtitle">Диван флоковый <no-typography>“F&#8209;41”</no-typography></h3>
        <span class="product-card__price">17 990 руб</span>
        <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
      </div>
      <div class="product-card__rating product-rating">
        <svg class="product-rating__icon">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <span class="product-rating__value">4,5</span>
      </div>
    </li>
    <li class="swiper-slide product-card">
      <div class="product-card__image">
        <img src="../img/rating-16.png" alt="Диван велюровый “R-85”" width="251" height="105">
      </div>
      <div class="product-card__descr">
        <h3 class="product-card__title product-card-subtitle">Диван велюровый <no-typography>“R&#8209;85”</no-typography></h3>
        <span class="product-card__price">34 990 руб</span>
        <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
      </div>
      <div class="product-card__rating product-rating">
        <svg class="product-rating__icon">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <span class="product-rating__value">4,5</span>
      </div>
    </li>
    <li class="swiper-slide product-card">
      <div class="product-card__image">
        <img src="../img/rating-17.png" alt="Диван велюровый “S-44”" width="272" height="105">
      </div>
      <div class="product-card__descr">
        <h3 class="product-card__title product-card-subtitle">Диван велюровый <no-typography>“S&#8209;44”</no-typography></h3>
        <span class="product-card__price">19 990 руб</span>
        <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
      </div>
      <div class="product-card__rating product-rating">
        <svg class="product-rating__icon">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <span class="product-rating__value">4,5</span>
      </div>
    </li>
    <li class="swiper-slide product-card">
      <div class="product-card__image">
        <img src="../img/rating-18.png" alt="Диван из шинила “С-80”" width="227" height="130">
      </div>
      <div class="product-card__descr">
        <h3 class="product-card__title product-card-subtitle">Диван из шинила <no-typography>“C&#8209;80”</no-typography></h3>
        <span class="product-card__price">20 990 руб</span>
        <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
      </div>
      <div class="product-card__rating product-rating">
        <svg class="product-rating__icon">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <span class="product-rating__value">4,4</span>
      </div>
    </li>
  </ul>
  <div class="catalog-swiper__pagination swiper-pagination"></div>
</div>
