<section class="category section-offset">
  <div class="container">
    <h2 class="category__title section-title">Топ категории</h2>
    <div class="category__content grid">
      <div class="category__card product-card category-card category__card--big">
        <ul class="category-card__variants list-reset">
          <li class="category-card__variant">
            <a href="#" class="category-card__variant-link">Прямые</a>
          </li>
          <li class="category-card__variant">
            <a href="#" class="category-card__variant-link">Угловые</a>
          </li>
          <li class="category-card__variant">
            <a href="#" class="category-card__variant-link">Модульные</a>
          </li>
        </ul>
        <h3 class="category-card__title product-subtitle">Диваны</h3>
        <div class="category-card__image">
          <img src="../img/category-1.png" alt="фото белого дивана">
        </div>
        <div class="category-card__btn-wrapper">
          <a href="#" class="category-card__link">В каталог
            <span class="category-card__link-icon">
              <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L6 6L1 11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="category__card product-card category-card category__card--big">
        <ul class="category-card__variants list-reset">
          <li class="category-card__variant">
            <a href="#" class="category-card__variant-link">Мягкие</a>
          </li>
          <li class="category-card__variant">
            <a href="#" class="category-card__variant-link">Кресла-кровати</a>
          </li>
        </ul>
        <h3 class="category-card__title product-subtitle">Кресла</h3>
        <div class="category-card__image">
          <img src="../img/category-2.png" alt="фото бкресел">
        </div>
        <div class="category-card__btn-wrapper">
          <a href="#" class="category-card__link">В каталог
            <span class="category-card__link-icon">
              <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L6 6L1 11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="category__card product-card category-card">
        <ul class="category-card__variants list-reset">
          <li class="category-card__variant">
            <a href="#" class="category-card__variant-link">Односпальные</a>
          </li>
          <li class="category-card__variant">
            <a href="#" class="category-card__variant-link">Двуспальные</a>
          </li>
        </ul>
        <h3 class="category-card__title product-subtitle">Кровати</h3>
        <div class="category-card__image">
          <img src="../img/category-3.png" alt="фото двуспальной кровати">
        </div>
        <div class="category-card__btn-wrapper">
          <a href="#" class="category-card__link">В каталог
            <span class="category-card__link-icon">
              <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L6 6L1 11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="category__card product-card category-card">
        <ul class="category-card__variants list-reset">
          <li class="category-card__variant">
            <a href="#" class="category-card__variant-link">Тумбы</a>
          </li>
          <li class="category-card__variant">
            <a href="#" class="category-card__variant-link">Комоды</a>
          </li>
        </ul>
        <h3 class="category-card__title product-subtitle">Тумбы и комоды</h3>
        <div class="category-card__image">
          <img src="../img/category-4.png" alt="фото комода">
        </div>
        <div class="category-card__btn-wrapper">
          <a href="#" class="category-card__link">В каталог
            <span class="category-card__link-icon">
              <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L6 6L1 11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="category__card product-card category-card">
        <ul class="category-card__variants list-reset">
          <li class="category-card__variant">
            <a href="#" class="category-card__variant-link">Деревянные</a>
          </li>
          <li class="category-card__variant">
            <a href="#" class="category-card__variant-link">Металлокаркас</a>
          </li>
        </ul>
        <h3 class="category-card__title product-subtitle">Стулья</h3>
        <div class="category-card__image">
          <img src="../img/category-5.png" alt="фото стульев">
        </div>
        <div class="category-card__btn-wrapper">
          <a href="#" class="category-card__link">В каталог
            <span class="category-card__link-icon">
              <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L6 6L1 11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
