<section class="feedback section-offset">
  <div class="container">
    <h2 class="visually-hidden">Секция для обратной связи</h2>
    <div class="feedback__content grid">
      <form action="#" class="feedback__form feedback-form">
        <h3 class="feedback-form__title section-title">Мы всегда вам рады!</h3>
        <p class="feedback-form__descr">
          Безусловно, новая модель организационной деятельности в значительной степени обусловливает важность
          распределения внутренних резервов и ресурсов.
          <button class="feedback__tooltip js-tooltip btn-reset" data-tippy-content="Оставьте заявку и мы с вами свяжемся" aria-describedby="tippy-1" aria-label="всплывающая подсказка" type="button">
            <svg class= feedback__tooltip-icon>
               <use xlink:href="img/sprite.svg#tooltip-icon"></use>
              </svg>
          </button>
        </p>
        <label class="feedback-form__label">
          <input type="text" class="feedback-form__input" placeholder="Как вас зовут?">
        </label>
        <label class="feedback-form__label">
          <input type="text" class="feedback-form__input" placeholder="Ваш телефон">
        </label>
        <label class="feedback-form__label">
          <input type="text" class="feedback-form__input" placeholder="Ваш e-mail">
        </label>
        <button class="feedback-form__btn btn btn--fill" type="submit">Отправить</button>
        <div class="feedback-form__checkbox-wrapper">
          <label class="custom-checkbox ">
            <input type="checkbox" class="custom-checkbox__field">
            <span class="custom-checkbox__content">Принимаю</span>
          </label>
          <a href="#" target="_blank" class="feedback-form__link">пользовательское соглашение</a>
        </div>
      </form>
    </div>
  </div>

</section>
