<div class="filter">
  <h3 class="filter__title filter__title--color">Цвет</h3>
  <ul class="filter__list list-reset">
    <li class="filter__item">
      <label class="custom-checkbox custom-checkbox--filter">
        <input type="checkbox" class="custom-checkbox__field">
        <span class="custom-checkbox__content">Коричневый</span>
      </label>
    </li>
    <li class="filter__item">
      <label class="custom-checkbox custom-checkbox--filter">
        <input type="checkbox" class="custom-checkbox__field">
        <span class="custom-checkbox__content">Черный</span>
      </label>
    </li>
    <li class="filter__item">
      <label class="custom-checkbox custom-checkbox--filter">
        <input type="checkbox" class="custom-checkbox__field">
        <span class="custom-checkbox__content">Бежевый</span>
      </label>
    </li>
    <li class="filter__item">
      <label class="custom-checkbox custom-checkbox--filter">
        <input type="checkbox" class="custom-checkbox__field">
        <span class="custom-checkbox__content">Серый</span>
      </label>
    </li>
    <li class="filter__item">
      <label class="custom-checkbox custom-checkbox--filter">
        <input type="checkbox" class="custom-checkbox__field">
        <span class="custom-checkbox__content">Белый</span>
      </label>
    </li>
    <li class="filter__item">
      <label class="custom-checkbox custom-checkbox--filter">
        <input type="checkbox" class="custom-checkbox__field">
        <span class="custom-checkbox__content">Синий</span>
      </label>
    </li>
    <li class="filter__item">
      <label class="custom-checkbox custom-checkbox--filter">
        <input type="checkbox" class="custom-checkbox__field" checked>
        <span class="custom-checkbox__content">Оранжевый</span>
      </label>
    </li>
    <li class="filter__item">
      <label class="custom-checkbox custom-checkbox--filter">
        <input type="checkbox" class="custom-checkbox__field">
        <span class="custom-checkbox__content">Желтый</span>
      </label>
    </li>
    <li class="filter__item">
      <label class="custom-checkbox custom-checkbox--filter">
        <input type="checkbox" class="custom-checkbox__field">
        <span class="custom-checkbox__content">Зеленый</span>
      </label>
    </li>
  </ul>
</div>
