<div class="filter">
  <h3 class="filter__title">Категория</h3>
  <button class="filter__btn btn-reset">Категория</button>
  <div class="filter__dropdown">
    <ul class="filter__list list-reset filter__list--category ">
      <li class="filter__item">
        <label class="custom-checkbox custom-checkbox--filter">
          <input type="checkbox" class="custom-checkbox__field" value="Диваны" checked>
          <span class="custom-checkbox__content">Диваны</span>
        </label>
      </li>
      <li class="filter__item">
        <label class="custom-checkbox custom-checkbox--filter">
          <input type="checkbox" class="custom-checkbox__field" value="Кресла">
          <span class="custom-checkbox__content">Кресла</span>
        </label>
      </li>
      <li class="filter__item">
        <label class="custom-checkbox custom-checkbox--filter">
          <input type="checkbox" class="custom-checkbox__field" value="Пуфы">
          <span class="custom-checkbox__content">Пуфы</span>
        </label>
      </li>
      <li class="filter__item">
        <label class="custom-checkbox custom-checkbox--filter">
          <input type="checkbox" class="custom-checkbox__field" value="Кровати">
          <span class="custom-checkbox__content">Кровати</span>
        </label>
      </li>
      <li class="filter__item">
        <label class="custom-checkbox custom-checkbox--filter">
          <input type="checkbox" class="custom-checkbox__field" value="Тумбы">
          <span class="custom-checkbox__content">Тумбы</span>
        </label>
      </li>
      <li class="filter__item">
        <label class="custom-checkbox custom-checkbox--filter">
          <input type="checkbox" class="custom-checkbox__field" value="Комоды">
          <span class="custom-checkbox__content">Комоды</span>
        </label>
      </li>
      <li class="filter__item">
        <label class="custom-checkbox custom-checkbox--filter">
          <input type="checkbox" class="custom-checkbox__field" value="Стулья">
          <span class="custom-checkbox__content">Стулья</span>
        </label>
      </li>
      <li class="filter__item">
        <label class="custom-checkbox custom-checkbox--filter">
          <input type="checkbox" class="custom-checkbox__field" value="Столы">
          <span class="custom-checkbox__content">Столы</span>
        </label>
      </li>
      <li class="filter__item">
        <label class="custom-checkbox custom-checkbox--filter">
          <input type="checkbox" class="custom-checkbox__field" value="Аксессуары">
          <span class="custom-checkbox__content">Аксессуары</span>
        </label>
      </li>
      <li class="filter__item filter__item--hidden">
        <label class="custom-checkbox custom-checkbox--filter">
          <input type="checkbox" class="custom-checkbox__field" value="Стулья">
          <span class="custom-checkbox__content">Стулья</span>
        </label>
      </li>
      <li class="filter__item filter__item--hidden">
        <label class="custom-checkbox custom-checkbox--filter">
          <input type="checkbox" class="custom-checkbox__field" value="Столы">
          <span class="custom-checkbox__content">Столы</span>
        </label>
      </li>
      <li class="filter__item filter__item--hidden">
        <label class="custom-checkbox custom-checkbox--filter">
          <input type="checkbox" class="custom-checkbox__field" value="Аксессуары">
          <span class="custom-checkbox__content">Аксессуары</span>
        </label>
      </li>
      <li class="filter__item filter__item--hidden">
        <label class="custom-checkbox custom-checkbox--filter">
          <input type="checkbox" class="custom-checkbox__field" value="Стулья">
          <span class="custom-checkbox__content">Стулья</span>
        </label>
      </li>
      <li class="filter__item filter__item--hidden">
        <label class="custom-checkbox custom-checkbox--filter">
          <input type="checkbox" class="custom-checkbox__field" value="Столы">
          <span class="custom-checkbox__content">Столы</span>
        </label>
      </li>
      <li class="filter__item filter__item--hidden">
        <label class="custom-checkbox custom-checkbox--filter">
          <input type="checkbox" class="custom-checkbox__field" value="Аксессуары">
          <span class="custom-checkbox__content">Аксессуары</span>
        </label>
      </li>
      <li class="filter__item filter__item--hidden">
        <label class="custom-checkbox custom-checkbox--filter">
          <input type="checkbox" class="custom-checkbox__field" value="Стулья">
          <span class="custom-checkbox__content">Стулья</span>
        </label>
      </li>
      <li class="filter__item filter__item--hidden">
        <label class="custom-checkbox custom-checkbox--filter">
          <input type="checkbox" class="custom-checkbox__field" value="Столы">
          <span class="custom-checkbox__content">Столы</span>
        </label>
      </li>
      <li class="filter__item filter__item--hidden">
        <label class="custom-checkbox custom-checkbox--filter">
          <input type="checkbox" class="custom-checkbox__field" value="Аксессуары">
          <span class="custom-checkbox__content">Аксессуары</span>
        </label>
      </li>
      <li class="filter__item filter__item--hidden">
        <label class="custom-checkbox custom-checkbox--filter">
          <input type="checkbox" class="custom-checkbox__field" value="Стулья">
          <span class="custom-checkbox__content">Стулья</span>
        </label>
      </li>
      <li class="filter__item filter__item--hidden">
        <label class="custom-checkbox custom-checkbox--filter">
          <input type="checkbox" class="custom-checkbox__field" value="Столы">
          <span class="custom-checkbox__content">Столы</span>
        </label>
      </li>
      <li class="filter__item filter__item--hidden">
        <label class="custom-checkbox custom-checkbox--filter">
          <input type="checkbox" class="custom-checkbox__field" value="Аксессуары">
          <span class="custom-checkbox__content">Аксессуары</span>
        </label>
      </li>
    </ul>
    <button class="filter__more-btn btn-reset inline-link">+ ещё 12</button>
  </div>
</div>
