<section class="find-stores">
  <h2 class="visually-hidden">Секция поиска магазина на карте</h2>
  <div class="container grid">
    <form action="#" class="search-form find-stores__form">
      <input type="search" class="input-reset search-form__input find-stores__input" id="mapSearch"
        placeholder="Поиск магазина">
      <button class="btn-reset btn btn--fill find-stores__btn" type="submit" id="mapSearchBtn">Поиск</button>
    </form>
    <div class="map" id="map"></div>
  </div>
</section>
