<section class="hero">
  <h1 class="visually-hidden">Интернет магазин мебели SitDownPls</h1>
  <div class="swiper hero__swiper" >
    <div class="swiper-wrapper">
      <div class="swiper-slide hero-slide hero-slide--1">
        <div class="container hero-slide__container grid">
          <div class="hero-slide__content">
            <h2 class="hero-slide__title">Скидка 15% на первую покупку</h2>
            <button class="btn-reset hero-slide__btn btn btn--fill">Получить!</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide hero-slide hero-slide--2">
        <div class="container hero-slide__container grid">
          <div class="hero-slide__content">
            <h2 class="hero-slide__title">1000+ аксессуаров для дома</h2>
            <button class="btn-reset hero-slide__btn btn btn--fill">Подробнее</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide hero-slide hero-slide--3 hero-slide--contrast">
        <div class="container hero-slide__container grid">
          <div class="hero-slide__content">
            <h2 class="hero-slide__title">Коллекция стильного и яркого текстиля</h2>
            <button class="btn-reset hero-slide__btn btn btn--fill">Подробнее</button>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination hero__swiper-pagination"></div>
  </div>
</section>
