<div class="oxford oxford-mini">
  <div class="oxford-mini__image-wrapper">
    <img class="oxford-mini__image" src="./img/oxford-mini.jpg" alt="Изображение новой колекции кресел" width="296"
      height="190">
  </div>
  <div class="oxford-mini__content">
    <h2 class="oxford__title oxford__title--mini">Оксфорд <span>1950</span></h2>
    <p class="oxford__descr oxford__descr--mini">Новая коллекция изысканных кресел</p>
    <a href="#" class="oxford__link oxford__link--mini inline-link">В каталог
      <span class="inline-link__icon">
        <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L6 6L1 11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </span>
    </a>
  </div>
</div>
