<div class="product-additional">
  <h2 class="product-additional__title">Опорный механизм</h2>
  <div class="product-additional__inner">
    <div class="product-additional__description">
      <p class="product-additional__description-text description-text">
        Опорный механизм напоминает пантограф, к которому добавили
        дополнительную секцию. У опорного дивана сиденье «выпрыгивает» вперёд и вытаскивает вторую часть спального места.
        Заключительный штрих — опустить спинку.</p>
      <p class="product-additional__description-text description-text">
        Этот механизм не портит пол и не боится ковров. Требуется чуть
        больше силы, чтобы разложить диван, но подросток справится.</p>
    </div>
    <div class="product-additional__images">
          <img src="./img/product-additional-1.png" alt="Схема раскладывания дивана" width="247" height="113">
          <img src="./img/product-additional-2.png" alt="Схема раскладывания дивана" width="247" height="113">
    </div>
  </div>
</div>
