<div class="info">
  <div class="info__wrapper">
    <h1 class="info__title product-card-subtitle">Диван тканевый прямой <no-typography>&ldquo;D-31&rdquo;</no-typography></h1>
    <span class="info__description">Мини 120 см без ящика Stark синий (Рогожка)</span>
    <span class="info__price">28 490 руб</span>
    <button class="info__btn btn-reset btn btn--fill" data-graph-path="buy-one-click-modal">Купить в один клик</button>
    <button class="info__cart-btn btn btn-reset add-cart">
      <span class="add-cart__text">+ Добавить в корзину</span>
    </button>
    <div class="info__rating product-rating">
      <svg class="product-rating__icon">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <span class="product-rating__value">4,8</span>
    </div>
  </div>
</div>
