<div class="product-specification">
  <dl class="product-specification__list">
    <div class="product-specification__item">
      <dt class="product-specification__term">Гарантия</dt>
      <dd class="product-specification__detail">18 месяцев</dd>
    </div>
    <div class="product-specification__item">
      <dt class="product-specification__term">Артикул</dt>
      <dd class="product-specification__detail">AAA41269004</dd>
    </div>
    <div class="product-specification__item">
      <dt class="product-specification__term">Длина</dt>
      <dd class="product-specification__detail">163 см</dd>
    </div>
    <div class="product-specification__item">
      <dt class="product-specification__term">Высота</dt>
      <dd class="product-specification__detail">90 см</dd>
    </div>
    <div class="product-specification__item">
      <dt class="product-specification__term">Глубина</dt>
      <dd class="product-specification__detail">108 см</dd>
    </div>
    <div class="product-specification__item">
      <dt class="product-specification__term">Спальное место</dt>
      <dd class="product-specification__detail">200 см х 125 см</dd>
    </div>
    <div class="product-specification__item">
      <dt class="product-specification__term">Высота посадки</dt>
      <dd class="product-specification__detail">45 см</dd>
    </div>
    <div class="product-specification__item">
      <dt class="product-specification__term">Механизм</dt>
      <dd class="product-specification__detail">Опорный</dd>
    </div>
    <div class="product-specification__item">
      <dt class="product-specification__term">Тип обивки</dt>
      <dd class="product-specification__detail">Рогожка</dd>
    </div>
    <div class="product-specification__item">
      <dt class="product-specification__term">Цвет</dt>
      <dd class="product-specification__detail">Синий</dd>
    </div>
    <div class="product-specification__item">
      <dt class="product-specification__term">Наполнитель</dt>
      <dd class="product-specification__detail">Независимый пружинный блок</dd>
    </div>
    <div class="product-specification__item">
      <dt class="product-specification__term">Материал каркаса</dt>
      <dd class="product-specification__detail">Металл. рама с дерев. латами</dd>
    </div>
    <div class="product-specification__item">
      <dt class="product-specification__term">Количество мест</dt>
      <dd class="product-specification__detail">Двухместные</dd>
    </div>
    <div class="product-specification__item">
      <dt class="product-specification__term">Категория</dt>
      <dd class="product-specification__detail">Прямые тканевые диваны</dd>
    </div>
    <div class="product-specification__item">
      <dt class="product-specification__term">Возврат</dt>
      <dd class="product-specification__detail">Условия</dd>
    </div>
  </dl>
</div>
