<section class="provider cooperation-section">
  <div class="container">
    <div class="cooperation-content">
      <h2 class="provider__title cooperation-subtitle">Поставщикам</h2>
      <p class="provider__description cooperation-descr">
        При планировании обстановки торгового помещения важно обустроить его с комфортом для покупателей: грамотно зонировать, обеспечить эффективную демонстрацию и хранение товаров в зале. Если вам необходимо комплексное оснащение, организация зоны отдыха или отдельные предметы меблировки для поддержания эффективной торговой деятельности, мы поможем выбрать продукцию с учетом нагрузки от поступающего трафика.
      </p>
    </div>
  </div>
</section>
