<ul class="rating__products-wrapper grid list-reset">
  <li class="rating__product product-card">
    <div class="product-card__image">
      <picture>
        <source media="(max-width:610px)" srcset="img/rating-1-mobile.webp, img/rating-1-mobile-2x.webp 2x">
        <source srcset="img/rating-1.webp, img/rating-1-2x.webp 2x" type="image/webp">
        <img loading="lazy" src="../img/rating-1.png%20../img/rating-1-2x.png%202x" alt="Диван кожанный R-94" width="266"
          height="82">
      </picture>
    </div>
    <div class="product-card__descr">
      <h3 class="product-card__title product-card-subtitle">Диван кожаный <no-typography>“R&#8209;94”</no-typography>
      </h3>
      <span class="product-card__price">94 990 руб</span>
      <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
    </div>
    <div class="product-card__rating product-rating">
      <svg class="product-rating__icon">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <span class="product-rating__value">5,0</span>
    </div>
  </li>
  <li class="rating__product product-card">
    <div class="product-card__image">
      <picture>
        <source media="(max-width:610px)" srcset="img/rating-2-mobile.webp, img/rating-2-mobile-2x.webp 2x">
        <source srcset="img/rating-2.webp, img/rating-2-2x.webp 2x" type="image/webp">
        <img loading="lazy" src="../img/rating-2.png%20../img/rating-2-2x.png%202x" alt="Диван апартековый T-75" width="261"
          height="101">
      </picture>
    </div>
    <div class="product-card__descr">
      <h3 class="product-card__title product-card-subtitle">Диван апартековый <no-typography>“T&#8209;75”
        </no-typography>
      </h3>
      <span class="product-card__price">69 990 руб</span>
      <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
    </div>
    <div class="product-card__rating product-rating">
      <svg class="product-rating__icon">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <span class="product-rating__value">4,9</span>
    </div>
  </li>
  <li class="rating__product product-card">
    <div class="product-card__image">
      <picture>
        <source media="(max-width:610px)" srcset="img/rating-3-mobile.webp, img/rating-3-mobile-2x.webp 2x">
        <source srcset="img/rating-3.webp, img/rating-3-2x.webp 2x" type="image/webp">
        <img loading="lazy" src="../img/rating-3.png%20../img/rating-3-2x.png%202x" alt="Диван тканевый D-31" width="262"
          height="103">
      </picture>
    </div>
    <div class="product-card__descr">
      <h3 class="product-card__title product-card-subtitle">Диван тканевый <no-typography>“D&#8209;31”</no-typography>
      </h3>
      <span class="product-card__price">28 490 руб</span>
      <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
    </div>
    <div class="product-card__rating product-rating">
      <svg class="product-rating__icon">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <span class="product-rating__value">4,8</span>
    </div>
  </li>
  <li class="rating__product product-card">
    <div class="product-card__image">
      <picture>
        <source media="(max-width:610px)" srcset="img/rating-4-mobile.webp, img/rating-4-mobile-2x.webp 2x">
        <source srcset="img/rating-4.webp, img/rating-4-2x.webp 2x" type="image/webp">
        <img loading="lazy" src="../img/rating-4.png%20../img/rating-4-2x.png%202x" alt="Диван велюровый Y-68" width="257"
          height="125">
      </picture>
    </div>
    <div class="product-card__descr">
      <h3 class="product-card__title product-card-subtitle">Диван велюровый <no-typography>“Y&#8209;68”</no-typography>
      </h3>
      <span class="product-card__price">22 990 руб</span>
      <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
    </div>
    <div class="product-card__rating product-rating">
      <svg class="product-rating__icon">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <span class="product-rating__value">4,8</span>
    </div>
  </li>
  <li class="rating__product product-card">
    <div class="product-card__image">
      <picture>
        <source media="(max-width:610px)" srcset="img/rating-5-mobile.webp, img/rating-5-mobile-2x.webp 2x">
        <source srcset="img/rating-5.webp, img/rating-5-2x.webp 2x" type="image/webp">
        <img loading="lazy" src="../img/rating-5.png%20../img/rating-5-2x.png%202x" alt="Диван из шинила W-95" width="265"
          height="117">
      </picture>
    </div>
    <div class="product-card__descr">
      <h3 class="product-card__title product-card-subtitle">Диван из шинила <no-typography>“W&#8209;95”</no-typography>
      </h3>
      <span class="product-card__price">22 990 руб</span>
      <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
    </div>
    <div class="product-card__rating product-rating">
      <svg class="product-rating__icon">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <span class="product-rating__value">4,8</span>
    </div>
  </li>
  <li class="rating__product product-card">
    <div class="product-card__image">
      <picture>
        <source media="(max-width:610px)" srcset="img/rating-6-mobile.webp, img/rating-6-mobile-2x.webp 2x">
        <source srcset="img/rating-6.webp, img/rating-6-2x.webp 2x" type="image/webp">
        <img loading="lazy" src="../img/rating-6.png%20../img/rating-6-2x.png%202x" alt="Диван флоковый G-41" width="271"
          height="117">
      </picture>
    </div>
    <div class="product-card__descr">
      <h3 class="product-card__title product-card-subtitle">Диван флоковый <no-typography>“G&#8209;41”</no-typography>
      </h3>
      <span class="product-card__price">17 990 руб</span>
      <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
    </div>
    <div class="product-card__rating product-rating">
      <svg class="product-rating__icon">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <span class="product-rating__value">4,8</span>
    </div>
  </li>
  <li class="rating__product product-card">
    <div class="product-card__image">
      <picture>
        <source media="(max-width:610px)" srcset="img/rating-7-mobile.webp, img/rating-7-mobile-2x.webp 2x">
        <source srcset="img/rating-7.webp, img/rating-7-2x.webp 2x" type="image/webp">
        <img loading="lazy" src="../img/rating-7.png%20../img/rating-7-2x.png%202x" alt="Диван шиниловый V-43" width="266"
          height="130">
      </picture>
    </div>
    <div class="product-card__descr">
      <h3 class="product-card__title product-card-subtitle">Диван шиниловый <no-typography>“V&#8209;43”</no-typography>
      </h3>
      <span class="product-card__price">19 990 руб</span>
      <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
    </div>
    <div class="product-card__rating product-rating">
      <svg class="product-rating__icon">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <span class="product-rating__value">4,8</span>
    </div>
  </li>
  <li class="rating__product product-card">
    <div class="product-card__image">
      <picture>
        <source media="(max-width:610px)" srcset="img/rating-8-mobile.webp, img/rating-8-mobile-2x.webp 2x">
        <source srcset="img/rating-8.webp, img/rating-8-2x.webp 2x" type="image/webp">
        <img loading="lazy" src="../img/rating-8.png%20../img/rating-8-2x.png%202x" alt="Диван велюровый S-99" width="212"
          height="124">
      </picture>
    </div>
    <div class="product-card__descr">
      <h3 class="product-card__title product-card-subtitle">Диван велюровый <no-typography>“S&#8209;99”</no-typography>
      </h3>
      <span class="product-card__price">19 990 руб</span>
      <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
    </div>
    <div class="product-card__rating product-rating">
      <svg class="product-rating__icon">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <span class="product-rating__value">4,7</span>
    </div>
  </li>
  <li class="rating__product product-card product-card--hide">
    <div class="product-card__image">
      <picture>
        <source media="(max-width:610px)" srcset="img/rating-9-mobile.webp, img/rating-9-mobile-2x.webp 2x">
        <source srcset="img/rating-9.webp, img/rating-9-2x.webp 2x" type="image/webp">
        <img loading="lazy" src="../img/rating-9.png%20../img/rating-9-2x.png%202x" alt="Диван из кожзама “F-85”"
          width="262" height="125">
      </picture>
    </div>
    <div class="product-card__descr">
      <h3 class="product-card__title product-card-subtitle">Диван из кожзама <no-typography>“F&#8209;85”</no-typography>
      </h3>
      <span class="product-card__price">26 990 руб</span>
      <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
    </div>
    <div class="product-card__rating product-rating">
      <svg class="product-rating__icon">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <span class="product-rating__value">4,7</span>
    </div>
  </li>
  <li class="rating__product product-card product-card--hide">
    <div class="product-card__image">
      <picture>
        <source media="(max-width:610px)" srcset="img/rating-10-mobile.webp, img/rating-10-mobile-2x.webp 2x">
        <source srcset="img/rating-10.webp, img/rating-10-2x.webp 2x" type="image/webp">
        <img loading="lazy" src="../img/rating-10.png%20../img/rating-10-2x.png%202x" alt="Диван флоковый “H-64”"
          width="251" height="130">
      </picture>
    </div>
    <div class="product-card__descr">
      <h3 class="product-card__title product-card-subtitle">Диван флоковый <no-typography>“H&#8209;64”</no-typography>
      </h3>
      <span class="product-card__price">25 990 руб</span>
      <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
    </div>
    <div class="product-card__rating product-rating">
      <svg class="product-rating__icon">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <span class="product-rating__value">4,6</span>
    </div>
  </li>
  <li class="rating__product product-card product-card--hide">
    <div class="product-card__image">
      <picture>
        <source media="(max-width:610px)" srcset="img/rating-11-mobile.webp, img/rating-11-mobile-2x.webp 2x">
        <source srcset="img/rating-11.webp, img/rating-11-2x.webp 2x" type="image/webp">
        <img loading="lazy" src="../img/rating-11.png%20../img/rating-11-2x.png%202x" alt="Диван флоковый “H-58”"
          width="233" height="133">
      </picture>
    </div>
    <div class="product-card__descr">
      <h3 class="product-card__title product-card-subtitle">Диван флоковый <no-typography>“H&#8209;58”</no-typography>
      </h3>
      <span class="product-card__price">23 990 руб</span>
      <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
    </div>
    <div class="product-card__rating product-rating">
      <svg class="product-rating__icon">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <span class="product-rating__value">4,6</span>
    </div>
  </li>
  <li class="rating__product product-card product-card--hide">
    <div class="product-card__image">
      <picture>
        <source media="(max-width:610px)" srcset="img/rating-12-mobile.webp, img/rating-12-mobile-2x.webp 2x">
        <source srcset="img/rating-12.webp, img/rating-12-2x.webp 2x" type="image/webp">
        <img loading="lazy" src="../img/rating-12.png%20../img/rating-12-2x.png%202x" alt="Диван из кожзама “R-43”"
          width="271" height="105">
      </picture>
    </div>
    <div class="product-card__descr">
      <h3 class="product-card__title product-card-subtitle">Диван из кожзама “R-43” <no-typography>“R&#8209;43”
        </no-typography>
      </h3>
      <span class="product-card__price">33 990 руб</span>
      <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
    </div>
    <div class="product-card__rating product-rating">
      <svg class="product-rating__icon">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <span class="product-rating__value">4,6</span>
    </div>
  </li>
  <li class="rating__product product-card product-card--hide">
    <div class="product-card__image">
      <picture>
        <source media="(max-width:610px)" srcset="img/rating-13-mobile.webp, img/rating-13-mobile-2x.webp 2x">
        <source srcset="img/rating-13.webp, img/rating-13-2x.webp 2x" type="image/webp">
        <img loading="lazy" src="../img/rating-13.png%20../img/rating-13-2x.png%202x" alt="Диван из шинила “С-42”"
          width="229" height="127">
      </picture>
    </div>
    <div class="product-card__descr">
      <h3 class="product-card__title product-card-subtitle">Диван из шинила <no-typography>“C&#8209;42”</no-typography>
      </h3>
      <span class="product-card__price">18 990 руб</span>
      <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
    </div>
    <div class="product-card__rating product-rating">
      <svg class="product-rating__icon">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <span class="product-rating__value">4,6</span>
    </div>
  </li>
  <li class="rating__product product-card product-card--hide">
    <div class="product-card__image">
      <picture>
        <source media="(max-width:610px)" srcset="img/rating-14-mobile.webp, img/rating-14-mobile-2x.webp 2x">
        <source srcset="img/rating-14.webp, img/rating-14-2x.webp 2x" type="image/webp">
        <img loading="lazy" src="../img/rating-14.png%20../img/rating-14-2x.png%202x" alt="Диван велюровый “U-58”"
          width="269" height="92">
      </picture>
    </div>
    <div class="product-card__descr">
      <h3 class="product-card__title product-card-subtitle">Диван велюровый <no-typography>“U&#8209;58”</no-typography>
      </h3>
      <span class="product-card__price">21 990 руб</span>
      <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
    </div>
    <div class="product-card__rating product-rating">
      <svg class="product-rating__icon">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <span class="product-rating__value">4,6</span>
    </div>
  </li>
  <li class="rating__product product-card product-card--hide">
    <div class="product-card__image">
      <picture>
        <source media="(max-width:610px)" srcset="img/rating-15-mobile.webp, img/rating-15-mobile-2x.webp 2x">
        <source srcset="img/rating-15.webp, img/rating-15-2x.webp 2x" type="image/webp">
        <img loading="lazy" src="../img/rating-15.png%20../img/rating-15-2x.png%202x" alt="Диван флоковый “F-41”"
          width="263" height="106">
      </picture>
    </div>
    <div class="product-card__descr">
      <h3 class="product-card__title product-card-subtitle">Диван флоковый <no-typography>“F&#8209;41”</no-typography>
      </h3>
      <span class="product-card__price">17 990 руб</span>
      <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
    </div>
    <div class="product-card__rating product-rating">
      <svg class="product-rating__icon">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <span class="product-rating__value">4,5</span>
    </div>
  </li>
  <li class="rating__product product-card product-card--hide">
    <div class="product-card__image">
      <picture>
        <source media="(max-width:610px)" srcset="img/rating-16-mobile.webp, img/rating-16-mobile-2x.webp 2x">
        <source srcset="img/rating-16.webp, img/rating-16-2x.webp 2x" type="image/webp">
        <img loading="lazy" src="../img/rating-16.png%20../img/rating-16-2x.png%202x" alt="Диван велюровый “R-85”"
          width="251" height="105">
      </picture>
    </div>
    <div class="product-card__descr">
      <h3 class="product-card__title product-card-subtitle">Диван велюровый <no-typography>“R&#8209;85”</no-typography>
      </h3>
      <span class="product-card__price">34 990 руб</span>
      <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
    </div>
    <div class="product-card__rating product-rating">
      <svg class="product-rating__icon">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <span class="product-rating__value">4,5</span>
    </div>
  </li>
  <li class="rating__product product-card product-card--hide">
    <div class="product-card__image">
      <picture>
        <source srcset="img/rating-17.webp, img/rating-17-2x.webp 2x" type="image/webp">
        <img loading="lazy" src="../img/rating-17.png%20../img/rating-17-2x.png%202x" alt="Диван велюровый “S-44”"
          width="272" height="105">
      </picture>
    </div>
    <div class="product-card__descr">
      <h3 class="product-card__title product-card-subtitle">Диван велюровый <no-typography>“S&#8209;44”</no-typography>
      </h3>
      <span class="product-card__price">19 990 руб</span>
      <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
    </div>
    <div class="product-card__rating product-rating">
      <svg class="product-rating__icon">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <span class="product-rating__value">4,5</span>
    </div>
  </li>
  <li class="rating__product product-card product-card--hide">
    <div class="product-card__image">
      <picture>
        <source srcset="img/rating-18.webp, img/rating-18-2x.webp 2x" type="image/webp">
        <img loading="lazy" src="../img/rating-18.png%20../img/rating-18-2x.png%202x" alt="Диван из шинила “С-80”"
          width="227" height="130">
      </picture>
    </div>
    <div class="product-card__descr">
      <h3 class="product-card__title product-card-subtitle">Диван из шинила <no-typography>“C&#8209;80”</no-typography>
      </h3>
      <span class="product-card__price">20 990 руб</span>
      <a href="product.html" class="product-card__link btn btn--stroke" target="_blank">Купить</a>
    </div>
    <div class="product-card__rating product-rating">
      <svg class="product-rating__icon">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <span class="product-rating__value">4,4</span>
    </div>
  </li>
</ul>
<button class="rating__more-btn btn-reset btn btn--fill">Смотреть больше товаров</button>
