<section class="rating section-offset">
  <div class="container">
    <h2 class="rating__title section-title">Высокий рейтинг</h2>
    <div class="rating__products-wrapper grid">
      <div class="rating__product product product-card">
        <div class="product__image">
          <img src="../img/rating-1.png" alt="Диван кожанный R-94" width="266" height="82">
        </div>
        <div class="product__descr">
          <h3 class="product__title product-subtitle">Диван кожаный <no-typography>“R&#8209;94”</no-typography></h3>
          <span class="product__price">94 990 руб</span>
          <a href="#" class="product__button btn btn--stroke">Купить</a>
        </div>
        <div class="product__rating product-rating">
          <svg class="product-rating__icon">
            <use xlink:href="img/sprite.svg#star"></use>
          </svg>
          <span class="product-rating__value">5,0</span>
        </div>
      </div>
      <div class="rating__product product product-card">
        <div class="product__image">
          <img src="../img/rating-2.png" alt="Диван апартековый T-75" width="261" height="101">
        </div>
        <div class="product__descr">
          <h3 class="product__title product-subtitle">Диван апартековый <no-typography>“T&#8209;75”</no-typography></h3>
          <span class="product__price">69 990 руб</span>
          <a href="#" class="product__button btn btn--stroke">Купить</a>
        </div>
        <div class="product__rating product-rating">
          <svg class="product-rating__icon">
            <use xlink:href="img/sprite.svg#star"></use>
          </svg>
          <span class="product-rating__value">4,9</span>
        </div>
      </div>
      <div class="rating__product product product-card">
        <div class="product__image">
          <img src="../img/rating-3.png" alt="Диван тканевый D-31" width="262" height="103">
        </div>
        <div class="product__descr">
          <h3 class="product__title product-subtitle">Диван тканевый <no-typography>“D&#8209;31”</no-typography></h3>
          <span class="product__price">28 490 руб</span>
          <a href="#" class="product__button btn btn--stroke">Купить</a>
        </div>
        <div class="product__rating product-rating">
          <svg class="product-rating__icon">
            <use xlink:href="img/sprite.svg#star"></use>
          </svg>
          <span class="product-rating__value">4,8</span>
        </div>
      </div>
      <div class="rating__product product product-card">
        <div class="product__image">
          <img src="../img/rating-4.png" alt="Диван велюровый Y-68" width="257" height="125">
        </div>
        <div class="product__descr">
          <h3 class="product__title product-subtitle">Диван велюровый <no-typography>“Y&#8209;68”</no-typography></h3>
          <span class="product__price">22 990 руб</span>
          <a href="#" class="product__button btn btn--stroke">Купить</a>
        </div>
        <div class="product__rating product-rating">
          <svg class="product-rating__icon">
            <use xlink:href="img/sprite.svg#star"></use>
          </svg>
          <span class="product-rating__value">4,8</span>
        </div>
      </div>
      <div class="rating__product product product-card">
        <div class="product__image">
          <img src="../img/rating-5.png" alt="Диван из шинила W-95" width="265" height="117">
        </div>
        <div class="product__descr">
          <h3 class="product__title product-subtitle">Диван из шинила <no-typography>“W&#8209;95”</no-typography></h3>
          <span class="product__price">22 990 руб</span>
          <a href="#" class="product__button btn btn--stroke">Купить</a>
        </div>
        <div class="product__rating product-rating">
          <svg class="product-rating__icon">
            <use xlink:href="img/sprite.svg#star"></use>
          </svg>
          <span class="product-rating__value">4,8</span>
        </div>
      </div>
      <div class="rating__product product product-card">
        <div class="product__image">
          <img src="../img/rating-6.png" alt="Диван флоковый G-41" width="271" height="117">
        </div>
        <div class="product__descr">
          <h3 class="product__title product-subtitle">Диван флоковый <no-typography>“G&#8209;41”</no-typography></h3>
          <span class="product__price">17 990 руб</span>
          <a href="#" class="product__button btn btn--stroke">Купить</a>
        </div>
        <div class="product__rating product-rating">
          <svg class="product-rating__icon">
            <use xlink:href="img/sprite.svg#star"></use>
          </svg>
          <span class="product-rating__value">4,8</span>
        </div>
      </div>
      <div class="rating__product product product-card">
        <div class="product__image">
          <img src="../img/rating-7.png" alt="Диван шиниловый V-43" width="266" height="130">
        </div>
        <div class="product__descr">
          <h3 class="product__title product-subtitle">Диван шиниловый <no-typography>“V&#8209;43”</no-typography></h3>
          <span class="product__price">19 990 руб</span>
          <a href="#" class="product__button btn btn--stroke">Купить</a>
        </div>
        <div class="product__rating product-rating">
          <svg class="product-rating__icon">
            <use xlink:href="img/sprite.svg#star"></use>
          </svg>
          <span class="product-rating__value">4,8</span>
        </div>
      </div>
      <div class="rating__product product product-card">
        <div class="product__image">
          <img src="../img/rating-8.png" alt="Диван велюровый S-99" width="212" height="124">
        </div>
        <div class="product__descr">
          <h3 class="product__title product-subtitle">Диван велюровый <no-typography>“S&#8209;99”</no-typography></h3>
          <span class="product__price">19 990 руб</span>
          <a href="#" class="product__button btn btn--stroke">Купить</a>
        </div>
        <div class="product__rating product-rating">
          <svg class="product-rating__icon">
            <use xlink:href="img/sprite.svg#star"></use>
          </svg>
          <span class="product-rating__value">4,7</span>
        </div>
      </div>
      <button class="rating__more-btn btn btn--fill">Смотреть больше товаров</button>
    </div>
  </div>
</section>
