<div class="slider-container">
  <div class="swiper large-image">
    <ul class="swiper-wrapper list-reset">
      <li class="swiper-slide">
        <button class="large-image__button product-modal-button btn-reset" data-graph-path="product-modal">
          <img src="./img/large-product-1.png" alt="Фото диван тканевый D-31" width="624" height="245">
        </button>
      </li>
      <li class="swiper-slide">
        <button class="large-image__button product-modal-button btn-reset" data-graph-path="product-modal">
          <img src="./img/large-product-2.png" alt="Фото диван тканевый D-31" width="495" height="245">
        </button>
      </li>
      <li class="swiper-slide">
        <button class="large-image__button product-modal-button btn-reset" data-graph-path="product-modal">
          <img src="./img/large-product-3.png" alt="Фото диван тканевый D-31" width="265" height="245">
        </button>
      </li>
      <li class="swiper-slide">
        <button class="large-image__button product-modal-button btn-reset" data-graph-path="product-modal">
          <img src="./img/large-product-4.png" alt="Фото диван тканевый D-31" width="538" height="245">
        </button>
      </li>
      <li class="swiper-slide">
        <button class="large-image__button product-modal-button btn-reset" data-graph-path="product-modal">
          <img src="./img/large-product-5.png" alt="Фото диван тканевый D-31" width="551" height="245">
        </button>
      </li>
    </ul>
  </div>
  <div class="swiper thumb-image">
    <ul class="swiper-wrapper list-reset">
      <li class="swiper-slide">
        <button class="thumb-image__button btn-reset">
          <img src="./img/thumb-product-1.png" alt="Превью фото дивана D-31" width="143" height="61">
        </button>
      </li>
      <li class="swiper-slide">
        <button class="thumb-image__button btn-reset">
          <img src="./img/thumb-product-2.png" alt="Превью фото дивана D-31" width="123" height="61">
        </button>
      </li>
      <li class="swiper-slide">
        <button class="thumb-image__button btn-reset">
          <img src="./img/thumb-product-3.png" alt="Превью фото дивана D-31" width="68" height="61">
        </button>
      </li>
      <li class="swiper-slide">
        <button class="thumb-image__button btn-reset">
          <img src="./img/thumb-product-4.png" alt="Превью фото дивана D-31" width="134" height="61">
        </button>
      </li>
      <li class="swiper-slide">
        <button class="thumb-image__button btn-reset">
          <img src="./img/thumb-product-5.png" alt="Превью фото дивана D-31" width="137" height="61">
        </button>
      </li>
    </ul>
  </div>
</div>
