<section class="special section-offset">
  <div class="container special__container">
    <h2 class="special__title section-title">Специальные предложения</h2>
    <div class="swiper special__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide special-slide product-card">
          <div class="special-slide__image">
            <img src="../img/special-1.png" alt="Кресло велюровое “X-24”" width="193" height="210">
          </div>
          <h3 class="special-slide__title product-subtitle">Кресло велюровое <no-typography>“X-24”</no-typography></h3>
          <div class="special-slide__price">
            <span class="special-slide__price-accent">15 990 руб</span>
            <span class="special-slide__price-old">24 990 руб</span>
          </div>
          <a href="#" class="special-slide__btn btn btn--stroke">Купить</a>
          <div class="special-slide__discount discount">
            <span class="discount__value">-9 000</span>
          </div>
        </div>
        <div class="swiper-slide special-slide product-card special-slide--big">
          <div class="special-slide__image">
            <img src="../img/special-2.png" alt="Диван тканевый “Z-44”" width="450" height="245">
          </div>
          <div class="special-slide__big-inner">
            <div class="special-slide__big-descr">
              <h3 class="special-slide__title product-subtitle">Диван тканевый <no-typography>“Z-44”</no-typography></h3>
              <div class="special-slide__price">
                <span class="special-slide__price-accent">22 900 руб</span>
                <span class="special-slide__price-old">32 990 руб</span>
              </div>
              <a href="#" class="special-slide__btn btn btn--stroke">Купить</a>
            </div>
            <div class="special-slide__big-preview">
              <img src="../img/special-2-1.png" alt="Диван тканевый “Z-44”">
            </div>
          </div>

          <div class="special-slide__discount discount">
            <span class="discount__value">-10 000</span>
          </div>
        </div>
        <div class="swiper-slide special-slide product-card">
          <div class="special-slide__image">
            <img src="../img/special-3.png" alt="Будильник  “Quartz-23”" width="149" height="218">
          </div>
          <h3 class="special-slide__title product-subtitle">Будильник <no-typography>“Quartz&#8209;23”</no-typography></h3>
          <div class="special-slide__price">
            <span class="special-slide__price-accent">1 290 руб</span>
            <span class="special-slide__price-old">1 890 руб</span>
          </div>
          <a href="#" class="special-slide__btn btn btn--stroke">Купить</a>
          <div class="special-slide__discount discount">
            <span class="discount__value">-600</span>
          </div>
        </div>
        <div class="swiper-slide special-slide product-card">
          <div class="special-slide__image">
            <img src="../img/special-4.png" alt="Мини-скульптура “Oh my deer”" width="117" height="210">
          </div>
          <h3 class="special-slide__title product-subtitle">Мини-скульптура <no-typography>“Oh my deer”</no-typography></h3>
          <div class="special-slide__price">
            <span class="special-slide__price-accent">690 руб</span>
            <span class="special-slide__price-old">990 руб</span>
          </div>
          <a href="#" class="special-slide__btn btn btn--stroke">Купить</a>
          <div class="special-slide__discount discount">
            <span class="discount__value">-300</span>
          </div>
        </div>
        <div class="swiper-slide special-slide product-card special-slide--big">
          <div class="special-slide__image">
            <img src="../img/special-5.png" alt="Диван вел-флок “Z-85”" width="463" height="223">
          </div>
          <div class="special-slide__big-inner">
            <div class="special-slide__big-descr">
              <h3 class="special-slide__title product-subtitle">Диван вел-флок <no-typography>“Z-85”</no-typography></h3>
              <div class="special-slide__price">
                <span class="special-slide__price-accent">22 990 руб</span>
                <span class="special-slide__price-old">32 990 руб</span>
              </div>
              <a href="#" class="special-slide__btn btn btn--stroke">Купить</a>
            </div>
            <div class="special-slide__big-preview">
              <img src="../img/special-5-1.png" alt="Диван тканевый “Z-85”">
            </div>
          </div>

          <div class="special-slide__discount discount">
            <span class="discount__value">-10 000</span>
          </div>
        </div>
        <div class="swiper-slide special-slide product-card">
          <div class="special-slide__image">
            <img src="../img/special-6.png" alt="Термометр + гидрометр “H-18””" width="183" height="218">
          </div>
          <h3 class="special-slide__title product-subtitle">Термометр + гидрометр <no-typography>“H-18”</no-typography></h3>
          <div class="special-slide__price">
            <span class="special-slide__price-accent">1 390 руб</span>
            <span class="special-slide__price-old">2 090 руб</span>
          </div>
          <a href="#" class="special-slide__btn btn btn--stroke">Купить</a>
          <div class="special-slide__discount discount">
            <span class="discount__value">-700</span>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-navigation top-swiper-navigination">
      <div class="swiper-button-prev special__button-prev circle-swiper-btn">
        <svg class="circle-swiper-btn__icon">
          <use xlink:href="img/sprite.svg#arrow-left"></use>
        </svg>
      </div>
      <div class="swiper-button-next special__button-next circle-swiper-btn">
        <svg class="circle-swiper-btn__icon">
          <use xlink:href="img/sprite.svg#arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
