<section class="usefull section-offset">
  <div class="container usefull__container">
    <h2 class="usefull__title section-title">Полезное</h2>

    <div class="swiper-navigation top-swiper-navigination">
      <div class="swiper-button-prev usefull__button-prev circle-swiper-btn">
        <svg class="circle-swiper-btn__icon">
          <use xlink:href="img/sprite.svg#arrow-left"></use>
        </svg>
      </div>
      <div class="swiper-button-next usefull__button-next circle-swiper-btn">
        <svg class="circle-swiper-btn__icon">
          <use xlink:href="img/sprite.svg#arrow-right"></use>
        </svg>
      </div>
    </div>
    <div class="swiper usefull__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide usefull__slide usefull-slide product-card">
          <div class="usefull-slide__image">
            <img src="../img/usefull-1.jpg">
          </div>
          <div class="usefull-slide__content">
            <p class="usefull-slide__descr">И нет сомнений, что сделанные на базе интернет-аналитики выводы представляют
              собой не что иное?</p>
            <a href="#" class="usefull-slide__link btn btn--stroke">Читать</a>
          </div>
        </div>
        <div class="swiper-slide usefull__slide usefull-slide product-card">
          <div class="usefull-slide__image">
            <img src="../img/usefull-2.jpg">
          </div>
          <div class="usefull-slide__content">
            <p class="usefull-slide__descr">Как принято считать, некоторые особенности приносят несомненную пользу обществу?</p>
            <a href="#" class="usefull-slide__link btn btn--stroke">Читать</a>
          </div>
        </div>
        <div class="swiper-slide usefull__slide usefull-slide product-card">
          <div class="usefull-slide__image">
            <img src="../img/usefull-3.jpg">
          </div>
          <div class="usefull-slide__content">
            <p class="usefull-slide__descr">Ясность нашей позиции очевидна: укрепление и развитие внутренней структуры?</p>
            <a href="#" class="usefull-slide__link btn btn--stroke">Читать</a>
          </div>
        </div>
        <div class="swiper-slide usefull__slide usefull-slide product-card">
          <div class="usefull-slide__image">
            <img src="../img/usefull-4.jpg">
          </div>
          <div class="usefull-slide__content">
            <p class="usefull-slide__descr">Прежде всего, консультация с широким активом однозначно фиксирует необходимость распределения?</p>
            <a href="#" class="usefull-slide__link btn btn--stroke">Читать</a>
          </div>
        </div>
        <div class="swiper-slide usefull__slide usefull-slide product-card">
          <div class="usefull-slide__image">
            <img src="../img/usefull-5.jpg">
          </div>
          <div class="usefull-slide__content">
            <p class="usefull-slide__descr">Как принято считать, некоторые особенности приносят несомненную пользу обществу?</p>
            <a href="#" class="usefull-slide__link btn btn--stroke">Читать</a>
          </div>
        </div>
        <div class="swiper-slide usefull__slide usefull-slide product-card">
          <div class="usefull-slide__image">
            <img src="../img/usefull-1.jpg">
          </div>
          <div class="usefull-slide__content">
            <p class="usefull-slide__descr">И нет сомнений, что сделанные на базе интернет-аналитики выводы представляют
              собой не что иное?</p>
            <a href="#" class="usefull-slide__link btn btn--stroke">Читать</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
