<section class="warranty cooperation-section">
  <div class="container">
    <div class="cooperation-content">
      <h2 class="warranty__title cooperation-subtitle">Гарантии</h2>
      <ol class="warranty__list">
        <li class="warranty__item">
          <p class="warranty__description cooperation-descr">
            При приемке товара Покупатель должен внимательно проверить его количество, качество и ассортимент на соответствие сопроводительным документам и заказу. После подписания товарного чека Покупатель утрачивает право предъявления претензий, которые можно выявить при приемке товара.
          </p>
        </li>
        <li class="warranty__item">
          <p class="warranty__description cooperation-descr">
            На товары, сборка которых производилась покупателем самостоятельно (не специалистами Продавца),&nbsp;гарантийные обязательства Продавца не распространяются. Также гарантия не распространяется на повреждения товара, полученные в ходе самостоятельной доставки и подъема товара. Покупатель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, т.е. если товар может быть использован исключительно приобретающим его потребителем.
          </p>
        </li>
        <li class="warranty__item">
          <p class="warranty__description cooperation-descr">
            Возврат или обмен товара возможен при условии, что сохранена упаковка, товарный вид и потребительские свойства товара, а также товарный и кассовый чеки. В этом случае мы гарантируем вам возврат полной стоимости товара (за вычетом стоимости доставки). В случае отказа от товара при доставке, клиент оплачивает услуги доставки.
          </p>
        </li>
      </ol>
      <div class="warranty__condition">
        <h3 class="warranty__condition-descr">Срок гарантии на нашу мебель составляет от 18 до 60 месяцев</h3>
      </div>
    </div>
  </div>
</section>
