<section class="what-you-get cooperation-section">
  <div class="container">
    <div class="cooperation-content">
      <h2 class="what-you-get__title cooperation-subtitle">Что вы получаете?</h2>
      <ul class="what-you-get__list list-reset">
        <li class="what-you-get__item what-you-get__item--1">
          <p class="what-you-get__description cooperation-descr">
            Мы ценим идеи и вдохновение и предлагаем сотрудничество талантливым дизайнерам и архитекторам. Выпускаемая нами продукция гармонично дополнит любой современный проект.
          </p>
        </li>
        <li class="what-you-get__item what-you-get__item--2">
          <p class="what-you-get__description cooperation-descr">
            Комплексное решение для красивого и функционального обустройства любых пространств.
          </p>
        </li>
        <li class="what-you-get__item what-you-get__item--3">
          <p class="what-you-get__description cooperation-descr">
            В ассортименте представлены все товарные группы для того, чтобы воссоздать обстановку в помещениях разных типов: кабинетах, смешанных пространствах, Open Space, гостевых и переговорных комнатах.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
