html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
}

.section-offset {
  padding-top: var(--section-offset);
}

.section-title {
  margin: 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: var(--text-color);
}

.description-text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.btn {
  display: block;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;

  &--fill {
    padding: 21px 29px;
    border: 2px solid var(--accent-color);
    background-color: var(--accent-color);
    font-weight: 700;
    color: var(--light-color);
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

    &:focus-visible:not(:hover):not(:active) {
      border-color: var(--dark-accent-color);
      background-color: var(--light-accent-color);
      outline: none;
    }

    @include mobile-hover {
      &:hover {
        background-color: var(--light-accent-color);
        border-color: var(--light-accent-color);
        outline: none;
      }
    }

    &:active {
      background-color: var(--dark-accent-color);
      border-color: var(--dark-accent-color);
    }
  }

  &--stroke {
    padding: 18px 34px;
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
      color 0.3s ease-in-out;

    &:focus-visible:not(:hover):not(:active) {
      border-color: var(--accent-color);
      background-color: var(--light-accent-color);
      color: var(--light-color);
      outline: none;
    }

    @include mobile-hover {
      &:hover {
        background-color: var(--accent-color);
        border-color: var(--accent-color);
        color: var(--light-color);
        outline: none;
      }
    }

    &:active {
      border-color: var(--dark-accent-color);
      background-color: var(--dark-accent-color);
      color: var(--light-color);
    }
  }
}

.inline-link {
  @include flex-v-center;
  position: relative;
  gap: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: var(--accent-color);
  overflow: hidden;
  transition: color 0.3s ease-in-out;

  &::after {
    content: "";
    position: absolute;
    right: 25px;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &:focus-visible {
    outline: none;

    &::after {
      opacity: 1;
    }

    & .category-card__link-icon {
      color: var(--light-color);
      background-color: var(--light-accent-color);
    }
  }

  @include mobile-hover {
    &:hover {
      &::after {
        opacity: 1;
      }

      & .category-card__link-icon {
        color: var(--light-color);
        background-color: var(--accent-color);
      }
    }
  }

  &:active {
    color: var(--dark-accent-color);

    &::after {
      opacity: 1;
    }

    & .category-card__link-icon {
      border-color: var(--dark-accent-color);
      color: var(--light-color);
      background-color: var(--dark-accent-color);
    }
  }

  &__icon {
    @include flex-all-center;
    border: 2px solid var(--accent-color);
    border-radius: 100%;
    width: 22px;
    height: 22px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
      border-color 0.3s ease-in-out;

    svg {
      stroke: currentColor;
    }
  }
}

@keyframes toVisible {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__input {
    width: 100%;
    padding: 18px 19px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: var(--alabaster-color);
    transition: background-color 0.3s ease-in-out border-color 0.3s ease-in-out;

    &:focus-visible:not(:hover) {
      background-color: var(--pink-light);
      outline: 1px solid var(--accent-color);
    }

    &:hover {
      background-color: #eaeaea;
      outline: none;
    }

    &::placeholder {
      font-size: 16px;
      line-height: 40px;
      color: var(--light-text-color);
    }

    &.just-validate-error-field {
      border-color: var(--form-error-color);
    }

    &.just-validate-success-field {
      border-color: var(--succes-color);
    }
  }

  &__label {
    position: relative;
    width: 100%;

    & .just-validate-error-label {
      position: absolute;
      top: -15px;
      left: 18px;
      font-size: 12px;
      color: var(--form-error-color);
    }
  }

  &__link {
    font-size: 14px;
    line-height: 19px;
    color: var(--accent-color);
    text-decoration: underline;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;

    &:focus-visible {
      outline: none;
      color: var(--secondary-accent-color);
      transform: scale(1.02);
    }

    @include mobile-hover {
      &:hover {
        color: var(--light-accent-color);
      }
    }

    &:active {
      color: var(--dark-accent-color);
    }
  }

  &__checkbox-wrapper {
    position: relative;
    display: flex;

    & .just-validate-error-label {
      position: absolute;
      top: -12px;
      left: 18px;
      font-size: 12px;
      color: var(--form-error-color);
    }
  }
}

.graph-modal__close {
  top: 20px;
  right: 20px;
  z-index: 10;
  cursor: pointer;
}
