// если вы хотите использовать sass-переменные - удалите root
:root {
  // base
  --font-family: "OpenSans", sans-serif;
  --content-width: 1280px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --grid-gap: 32px;
  --section-offset: 70px;

  // colors
  --light-color: #fff;
  --alabaster-color: #f7f7f7;
  --text-color: #333;
  --accent-color: #a65cf0;
  --dark-accent-color: #7033ac;
  --light-accent-color: #c998fb;
  --secondary-accent-color: #ff862f;
  --light-text-color: #999;
  --dove-color: #666;
  --straw-color: #d5b986;
  --pink-light: #f8efff;
  --pink-violet-color: #ebd1ff;
  --light-grey-color: #f6f6f6;
}
